*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/*

.idea/vcs.xml

.idea/dictionaries/relatednoise.xml
.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/swagger-ui_rails.iml
.idea/workspace.xml
